@import './loader.css';
@import 'react-toastify/dist/ReactToastify.css';

:root {
    --blue-titles: rgb(60, 132, 165);
}


@font-face {
    font-family: "regular-font";
    src: url(/assets/fonts/Beep.ttf);
}

@font-face {
    font-family: "normal-font";
    src: url(/assets/fonts/Beep-Light.ttf);
}

@font-face {
    font-family: "bold-font";
    src: url(/assets/fonts/Beep-Bold.ttf);
}



